package Model.APPS.VADC_GROUP_CONFIG.v4_0_6.Templates;

import Model.APPS.VADC_GROUP_CONFIG.v4_0_6.VADC_GROUP_CONFIG

out.print("""
/***********************************************************************************************************************
 *
 * Copyright (c) 2015-2016, Infineon Technologies AG
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without modification,are permitted provided that the
 * following conditions are met:
 *
 *   Redistributions of source code must retain the above copyright notice, this list of conditions and the  following
 *   disclaimer.
 *
 *   Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
 *   following disclaimer in the documentation and/or other materials provided with the distribution.
 *
 *   Neither the name of the copyright holders nor the names of its contributors may be used to endorse or promote
 *   products derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES,
 * INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE  FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
 * WHETHER IN CONTRACT, STRICT LIABILITY,OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT  OF THE
 * USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 *
 * To improve the quality of the software, users are encouraged to share modifications, enhancements or bug fixes
 * with Infineon Technologies AG (dave@infineon.com).
 ***********************************************************************************************************************
 *
 * Change History
 * --------------
 *
 * 2016-06-27:
 *     - Initial version for DAVEv4
 *
 * 2016-08-18:
 *     - Documentation update.<br>    
 *
 * @endcond
 *
 */
/***********************************************************************************************************************
 * HEADER FILES
 **********************************************************************************************************************/
 
/***********************************************************************************************************************
 * MACROS
 **********************************************************************************************************************/
#ifndef VADC_GROUP_CONFIG_CONF_H
#define VADC_GROUP_CONFIG_CONF_H

#ifdef __cplusplus
extern "C" {
#endif
""")
String family = daveEnv.project.selectedDevice.deviceId.family;
String series = daveEnv.project.selectedDevice.deviceId.series;
String device = family + series

for (Object appIns : appInstancesList )
{
	instanceLabel = appIns.getInstanceLabel();
	if(device != "XMC11")
	{
		String group_num = appIns.hwres_vadc_group_class0.getSolverUri()[6];
	
		out.println("""
/***********************************************************************************************************************
 * VADC_GROUP_CONFIG instance ${instanceLabel} MACROS
 **********************************************************************************************************************/
#define ${instanceLabel}_GROUP_PTR ((XMC_VADC_GROUP_t*)(void*) VADC_G${group_num})
#define ${instanceLabel}_GROUP_NUM (${group_num}U)
#define ${instanceLabel}_MODULE_PTR ((XMC_VADC_GLOBAL_t*)(void*) VADC)
""")
	}
	else
	{
		String group_num=''
		for(i in 0..7 )
		{
			if(appIns."hwres_vadc_group_ch${i}".getSolverUri() != null)
			{
				group_num = appIns."hwres_vadc_group_ch${i}".getSolverUri()[6];
				break;
			}
		}
	
		out.println("""
/***********************************************************************************************************************
 * VADC_GROUP_CONFIG instance ${instanceLabel} MACROS
 **********************************************************************************************************************/
#define ${instanceLabel}_GROUP_NUM (${group_num}U)
#define ${instanceLabel}_MODULE_PTR ((XMC_VADC_GLOBAL_t*)(void*) VADC)
""")
	
	}
	
}
/* Macros for APP version */
out.print("""
#define VADC_GROUP_CONFIG_MAJOR_VERSION (${VADC_GROUP_CONFIG.version.split("\\.")[0]}U) /**< Major version number of VADC_GROUP_CONFIG APP*/
#define VADC_GROUP_CONFIG_MINOR_VERSION (${VADC_GROUP_CONFIG.version.split("\\.")[1]}U) /**< Minor version number of VADC_GROUP_CONFIG APP*/
#define VADC_GROUP_CONFIG_PATCH_VERSION (${VADC_GROUP_CONFIG.version.split("\\.")[2]}U) /**< Patch version number of VADC_GROUP_CONFIG APP*/

#endif /* VADC_GROUP_CONFIG_CONF_H */
/* CODE_BLOCK_END */

#ifdef __cplusplus
}
#endif""")